body {
  font-family: 'Varela Round', sans-serif;
  font-size: 12px;
  color: black;
}

h1 {
  font-family: 'Delius Swash Caps', sans-serif;
  font-size: 25px;
  color: black;
}

p {
  padding-left: 10px;
}

footer {
  position: fixed;
  font-size: 10px;
  z-index: 1000;
  bottom: 10px;
  color: black;
  background: #FFF;
  opacity: .8;
  width: 100%;
  border-radius: 20px 20px 20px 20px;
}

#resetButton {
  background-color: Black;
  border: 2px solid Black;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  font-family: 'Varela Round', sans-serif;
  font-size: 12px;
}

.leaflet-popup-content-wrapper {
  border: 2px solid #FFF;
  opacity: .9;
  border-radius: 8px;
}

.leaflet-popup-content {
  font-family: 'Varela Round', sans-serif;
  font-size: 10px;
  color: black;
  opacity: .8;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: white;
  color: #333;
  box-shadow: 10px 10px 5px -5px rgba(214,214,214,0.39);
}

#my-map {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#container {
  position: absolute;
  z-index: 1000;
  top: 311px;
  left: 10px;
  background: #FFF;
  opacity: .8;
  padding: 10px;
  border-radius: 20px 20px 20px 20px;
  width: 330px;
  border: 2px solid ;
  border-color:#FFF;
  box-shadow: 10px 10px 5px -5px rgba(214,214,214,0.39);
}

#legend {
  text-align: left;
  display: inline-block;
  position: absolute;
  z-index: 1000;
  top: 380px;
  left: 10px;
  background: #FFF;
  opacity: .8;
  padding: 10px 10px 0px 10px;
  border-radius: 20px 20px 20px 20px;
  width: 330px;
  border: 2px solid ;
  border-color: #FFF;
  box-shadow: 10px 10px 5px -5px rgba(214,214,214,0.39);
}
